<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn" class="navbar-nav" routerLinkActive="active">
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a href="/create-student" class="nav-link" routerLink="create-student">Add Student</a>
      </li>
      <li class="nav-item">
        <a href="/allstudents" class="nav-link" routerLink="allstudents">Admin Board - Student List</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Static
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <button class = "btn btn-outline-light" (click)="logout()">Log Out</button>
      </li>
    </ul>
    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>